/*
piscine very dark blue #000133
pinky photic #FC86AA
work-shy light grey #D8DCD6*
https://colors.lol/piscine/ */

body{
	
}

.photo{

	width: 150px;
	border-radius: 50%;
}
.icon{
	width: 35px;
	padding-left: 10px;
}