/*
piscine very dark blue #000133
pinky photic #FC86AA
work-shy light grey #D8DCD6*
https://colors.lol/piscine/ */

html{
	scroll-behavior: smooth;
}
.photo{

	width: 150px;
	border-radius: 50%;
}

.first-color{
	background: #000133 !important;
}

.second-color{
	background: #FC86AA !important;
}

.third-color{
	background: #D8DCD6 !important;
}

.icon{
	width: 2rem;
	padding-left: 5px;
}



.first-title{
	text-transform: uppercase;
	color: #F0E7E7;

}

.second-title{
	text-transform: uppercase;
	color: #001033 !important;
	
}



a{
	text-decoration: none;
	color: #D8DCD6;
}

.a-menu{
	text-decoration: none;
	color: #000133 !important;
	font-weight: 600;
}

a:hover{
	color: white !important;
	text-decoration: none;
}

a:visited{
	text-decoration: none !important;
}

p{
	font-family: Lato,'Helvetica Neue',Helvetica, Arial, sans-serif;
	color: black !important;
}


.jumbotron{
	margin: 0;
	padding: 10px;
	border-radius: 0px;
}

.txt-footer{
	margin: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.border-h4{
	margin-bottom:  0;
	padding: 10px;
}

h2.second-title{
	margin: 0;
	padding-bottom: 40px;
	padding-top: 80px;
	font-size: 1.7rem;
	letter-spacing: 0.5rem
}
.py-5{
	padding-top: 0px !important

}
.contato-item{
	padding-bottom:  15px;
	padding-bottom: solid 45px ;
}



.auto{
	width: 250px;
	margin: auto;
	
	padding-top: 55px;
	padding-left: 45px;
	

}

.container-contact{
	display: table;
	margin: 0 auto;
}

.txt-contact{
	display: table-cell;

	
}

.img-contact{
	clear: both;
	display: table-cell;

}	

.icon-contact{
	width: 1.5rem;
	margin-left: 10px;
	padding-left: 10px;
}

.p-contact {
	text-decoration: none;
	color: white !important;
	font-weight: 200;
	padding-left: 5px;
	margin: 0;
}

.align-contact{
	display: inline-block;

}
