$font-stack: "Poppins"
$text-color: #ece8e8
$text-color-secondary: #bcb9b9
$body-bg-color: #0c091b
$bg-color: #363636
$bg-color-secondary: #4b4a4a
$container-border-radius: 10px
$card-border-radius: 5px
$gradient: linear-gradient(180deg, rgba(116,53,149,1) 38%, rgba(213,27,128,1) 83%)

